* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}

header	{
	margin-bottom: 40px;
}

.top_row {
	background-image: url("images/bckorange.jpg");
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1000px;
	color: black;
	margin-top: 40px;
}

h1 {
	margin-bottom: 30px;
	font-size: 49px;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 20px;
}

.moog, .hex, .teamcanada, .travel, .next, .pinkfloyd, .alien_game, .starship {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 20px;
}

section img {
	width: 100%;
	height: 180px;
	border: 2px solid white;
}

.content {
	padding: 20px 20px 20px 0px;
}

h2 {
	margin: 0;
	font-size: 110%;
	font-weight: bolder;
}

.content p {
	margin-top: 10px;
	margin-bottom: 5px;
}

body {
	color: rgb(249, 247, 209);
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

body > .backgroudimg {
	opacity: 0.4;
}

.myLinks img {
  width: 40px;
  padding: 0;
	border-radius: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.finale p {
  font-size: small;
	margin: 40px 0px 40px 20px;
	border-radius: 30px;
	opacity: 0.8;
	filter: alpha(opacity=8);
	font-family: 'Andika', sans-serif;
	text-align: center;
}

/*.myLinks {
  background-color: black;
  border: 1px solid light gray;
  border-radius: 30px;
  color:  white;
  opacity: 0.8;
  filter: alpha(opacity=8);
  box-shadow: 10px 10px 30px 10px black;
  text-align: center;
  font-family: 'Andika', sans-serif;
  max-width: 100px;
  display: inline;
  padding: 5px 5px 2px 5px;*/
/* } */

footer {
	margin: 40px 0px 40px 10px;
  border: 1px solid light gray;
  border-radius: 30px;
	opacity: 0.8;
	filter: alpha(opacity=8);
	text-align: center;
	font-family: 'Andika', sans-serif;
}

section img:hover {
 box-shadow: 2px 2px 2px white;
 transform: translateY(3px);
}

.myLinks img:hover {
 box-shadow: 2px 2px 2px white;
 transform: translateY(3px);
}

button:active {
 box-shadow: 2px 2px 2px white;
 transform: translateY(3px);
}

.about, .contact {
	font-weight: bolder;
	font-size: 19px;
}

.contact {
	display: inline-block;
	margin-right: 30px;
}

#page-header img {
    width: 240px;
    border-radius: 1%;
    margin-right: 19px;
    vertical-align: middle;
		float: left;
		margin-top: 80px;
		border: 2px solid white;
}

footer p {
	color: white;
}
