* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}

header	{
	background-color: orange;
	margin-bottom: 40px;

}

.top_row {
	background-color: orange;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1000px;
	color: black;
}

h1 {
	margin-bottom: 30px;
	font-size: 69px;
	text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.moog, .react, .runner, .travel, .tictactoe, .pinkfloyd, .drum, .tube, .starwars {
	width: 100%;
	/*border: 1px solid lightgrey;*/
	margin-top: 0px;
	margin-bottom: 20px;
}

section img {
	width: 100%;
	height: 180px;
	border-radius: 60%;
}

.content {
	padding: 20px;
}

h2 {
	margin: 0;
	font-size: 110%;
	font-weight: bolder;
}

.content p {
	margin-top: 10px;
	margin-bottom: 5px;
}

body {
	color: rgb(249, 247, 209);
	/*background-color: black;*/
	background-image: url("images/background.jpg");
	background-position: center;
	background-size: cover;
}

body > .backgroudimg {
	opacity: 0.4;
}

.myLinks img {
  width: 40px;
  padding: 0;
	border-radius: 100%;
	margin-right: 20px;
	margin-bottom: 20px;
}

.finale p {
  display: inline-block;
  font-size: small;
	margin: 40px 0px 40px 20px;
	background-color: black;
	border: 1px solid light gray;
	border-radius: 30px;
	opacity: 0.8;
	filter: alpha(opacity=8);
	box-shadow: 10px 10px 30px 10px black;
	font-family: 'Andika', sans-serif;
}

/*.myLinks {
  background-color: black;
  border: 1px solid light gray;
  border-radius: 30px;
  color:  white;
  opacity: 0.8;
  filter: alpha(opacity=8);
  box-shadow: 10px 10px 30px 10px black;
  text-align: center;
  font-family: 'Andika', sans-serif;
  max-width: 100px;
  display: inline;
  padding: 5px 5px 2px 5px;*/
}

footer {
  display: inline;
	margin: 40px 0px 40px 10px;
	background-color: black;
  border: 1px solid light gray;
  border-radius: 30px;
	opacity: 0.8;
	filter: alpha(opacity=8);
	box-shadow: 10px 10px 30px 10px black;
	text-align: center;
	font-family: 'Andika', sans-serif;
}

img:hover {
 box-shadow: 2px 2px 2px white;
 transform: translateY(3px);
}

button:active {
 box-shadow: 2px 2px 2px white;
 transform: translateY(3px);
}

.about, .contact {
	font-weight: bolder;
	font-size: 19px;
	text-decoration: underline;
}

.contact {
	display: inline-block;
	margin-right: 30px;
}
